<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="PriorityStreamProcessorTestSuit" verbose="1">
    <test name="PriorityStreamProcessorTest">
        <classes>
            <class name="org.wso2.extension.siddhi.execution.priority.PriorityStreamProcessorTestCase" />
        </classes>
    </test>
</suite>
